header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    background-color: rgb(252, 240, 255);
    color: rgb(94, 92, 92);
}
button#signup {
    background-color: rgb(137, 211, 26);
}
#message{
    height: 20px;
    width: 50px;
    background-color: orange;
    border: none;
}
#message:hover{
    background-color: orangered;
    cursor: pointer;
}
.chat{
    display: block;
    padding: 100px;
}
